<% content_for :nav do %>
	<%= render :partial => 'main_nav' %>
<% end %>

<h1>Artist List</h1>

<% @artists.each do | a | %>
	<%= link_to a.name, artist_root_url(:subdomain => a.name) %><br />
<% end %>

